@model List<SortItResearch.Models.Subject>
@{
    ViewBag.Title = "Subjects";
}

<div class="subject-header-content">
    <div class="subject-header">
        <h2>Choose the course to start</h2>
    </div>
</div>
<div style="margin: 0 20px;">
    @{
        int i = 0;
        foreach (var subject in Model)
        {

            if (i == 0 || i % 3 == 0)
            {
                @Html.Raw("<div class=\"row\" >");
            }


            <div class="col-sm-3 item-div">

                <div class="row subject-col" align="center" id="@subject.Id" style="font-size:12px; padding:5px; margin-bottom:20px;">
                    <div class="col-md-12">
                        <h3>@subject.Name</h3>
                        <span style="float:left">@subject.Description</span>
                    </div>
                </div>
                <div class="row" align="center">
                    <input type="button" value="Enroll" class="btn btn-info" onclick="showEnroll(@subject.Id)" />
                </div>
            </div>
            i++;
            if (i != 0 && i % 3 == 0 || i == Model.Count)
            {
                @Html.Raw("</div>")
            }
        }
    }
</div>
<div class="createModule">
    <div class="row"><a onclick="closePopup()">X</a></div>
    <div align="center" id="createModule">
       <p>Topic</p>
        <input type="text" id="topic" />
        <p>Short description</p>
        <input type="text" id="shortDesc" />
        <hr />
        <p>Areas</p>
        <div class="checkbox-areas">
            @foreach (var item in ViewBag.Areas)
            {
                <input type="checkbox" value="@item.Id" class="areas" />@item.Name <br />
            }
        </div>
        <input type="button" value="Continue" class="btn btn-info btn-enroll" />
    </div>
</div>