@model List<SortItResearch.Models.Question>
@{
    ViewBag.Title = "Tests";
}

<div class="subject-header-content">
    <div class="subject-header">
        <h2>Test</h2>
    </div>
</div>
@if (ViewBag.IsPassed)
{
    <h2>You have already passed the test</h2>
}
else
{
    <div class="testContainer" align="center">
       
        @foreach (var question in Model)
        {
            <div class="form-control test-div" id="@question.Id" style="margin-top:20px;">
                <div class="col-md-12">
                    <span class="question-name">@question.Name</span>
                    <br />
                    @foreach (var answer in question.Answers)
                    {
                        if (question.Type == 0)
                        {
                            <input type="radio" name="@question.Name" class="test-answer" value="@answer.Id" />@answer.Name
                        }
                        else
                        {
                            <input type="checkbox" name="@question.Name" class="test-answer" value="@answer.Id" />@answer.Name
                        }
                    }
                </div>
            </div>
            <hr />
        }
        <input type="button" value="Submit" class="btn btn-success" onclick="submitAnswers()" />
    </div>
}