@model SortItResearch.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}
<link href="~/Content/Registration.css" rel="stylesheet" />
<div class="content-agileits">
    <h1 class="title"></h1>
    <div class="left">

        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "login-form", role = "form", style="margin-bottom:200px" }))
        {
        @Html.AntiForgeryToken()
        <h4>Create account</h4>
        <hr />
        <div class="form-group">

            <label for="firstname" class="control-label">Name:</label>

            @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @placeholder = "Name..." })

        </div>
        <div class="form-group">

            <label for="firstname" class="control-label">Last name:</label>

            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", @placeholder = "Last name..." })

        </div>
        <div class="form-group">

            <label for="firstname" class="control-label">Email:</label>

            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder ="Email..." })

        </div>
        <div class="form-group">

            <label for="firstname" class="control-label">Password:</label>

            @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password..." })

        </div>
        <div class="form-group">
            <label for="firstname" class="control-label">Confirm password:</label>


            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirm password..." })

        </div>
            foreach (ModelState modelState in ViewData.ModelState.Values)
            {
                foreach (ModelError error in modelState.Errors)
                {
        <p style="color:red;">@error.ErrorMessage</p>
                }
            }
        <div class="form-group sign-btn">
            <input type="submit" class="btn btn-registration" value="Register">
        </div>

        }
    </div>
    <div class="right-bg2"></div>
    <div class="clear"></div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
