@model List<SortItResearch.Models.DissertationViewModel>
@{
    ViewBag.Title = "Finals";
}

<div class="subject-header-content">
    <div class="subject-header">
        <h2>Finals</h2>
    </div>
</div>
@foreach (var item in Model)
{
    <div class="row">
        <div class="col-sm-10">
            <span>@item.Student.Name @item.Student.SurName @item.Category @item.Design @item.ShortDescription @item.Status</span>
           
            <a href="~/Files/dissertations/@item.Attachement">@item.Attachement</a>
        </div>
        <div class="col-sm-2">
            @if (!item.Accepted)
            {

                <input type="button" class="btn btn-info" onclick="changeFinalStatus(@item.Id)" value="Հաստատել" />

            }
            else
            {
                <span style="color:green">ՀԱՍՏԱՏՎԱԾ Է</span>
            }
        </div>
    </div>
}
