@model List<SortItResearch.Models.Subject>
@{
    ViewBag.Title = "Programs";
}

<h2>Programs</h2>
<table id="customers"class="subjectTable">
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th></th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr class="clickableTable">
            <td onclick="goToDetails(@item.Id)">@item.Name</td>
            <td onclick="goToDetails(@item.Id)">@item.Description</td>
            <td><a class="clickableTable" onclick="editSubject(@item.Id,'@item.Name')">
                    <img src="~/images/editIcon.png" /></a></td>
            <td><a class="clickableTable" onclick="deleteSubject(@item.Id)">
                    <img src="~/images/removeIcon.png" /></a></td>
        </tr>
    }
    <tr>
        <td><input type="text" id="subjectName" class="form-control" /></td>
        <td><input type="text" id="subjectDescription" class="form-control" /></td>

        <td><input type="hidden" id="subjectId" /></td>
        <td><a class="clickableTable" onclick="saveSubject()">
                <img src="~/images/addIcon.png" /></a></td>
    </tr>
    
</table>
<p id="validateSubject" class="validationP"></p>