<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" >
    <meta property="og:title" content="Welcome to the SORT IT Operational Research and Training online course" />
    <meta property="og:image" content="http://www.sortitresearch.com/Images/logo.png" />
    <title>@ViewBag.Title - SortItResearch</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @{
        var isHome = ViewContext.RouteData.Values["controller"].ToString().ToUpper() == "HOME";
        var isIndex = ViewContext.RouteData.Values["action"].ToString().ToUpper() == "INDEX";
    }
    @if (isHome && isIndex)
    {
        <link href="~/Scripts/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
        <link href="~/Content/css/animate.css" rel="stylesheet" type="text/css" />
        <link href="~/Scripts/vendor/themify/themify.css" rel="stylesheet" type="text/css" />
        <link href="~/Scripts/vendor/scrollbar/scrollbar.min.css" rel="stylesheet" type="text/css" />
        <link href="~/Scripts/vendor/magnific-popup/magnific-popup.css" rel="stylesheet" type="text/css" />
        <link href="~/Scripts/vendor/swiper/swiper.min.css" rel="stylesheet" type="text/css" />
        <link href="~/Scripts/vendor/cubeportfolio/css/cubeportfolio.min.css" rel="stylesheet" type="text/css" />

    <!-- Theme Styles -->
    }
    <link href="~/Content/css/style.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/css/global/global.css" rel="stylesheet" type="text/css" />

</head>
<body>
    <div class="navbar navbar-custom navbar-fixed-top s-header js__header-sticky js__header-overlay " style="border-bottom-color:red;">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar icon-bar-bg"></span>
                    <span class="icon-bar icon-bar-bg"></span>
                    <span class="icon-bar icon-bar-bg"></span>
                </button>
                <a href="~/" class="navbar-brand"><img src="~/images/logosmall.png" /></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

                    @if (this.User.IsInRole("Administrator"))
                    {
                        <li>@Html.ActionLink("Programs", "Subject", "Admin")</li>
                        <li>@Html.ActionLink("Topics", "Lessons", "Admin")</li>
                        <li>@Html.ActionLink("Tests", "Tests", "Admin")</li>
                        <li>@Html.ActionLink("Students", "Students", "Admin")</li>
                        <li>@Html.ActionLink("Facilitators", "Teachers", "Admin")</li>
                        <li>@Html.ActionLink("Researches", "Finals", "Admin")</li>
                    }
                    @if (this.User.IsInRole("Student"))
                    {
                        <li>@Html.ActionLink("Facilitator", "FindSkill", "Home")</li>
                        <li>@Html.ActionLink("Courses", "MySubjects", "Student")</li>
                        <li>@Html.ActionLink("Select your course", "Subjects", "Student")</li>
                    }
                    @if (this.User.IsInRole("Teacher"))
                    {
                        <li>@Html.ActionLink("Courses", "MyStudent", "Teacher")</li>
                        <li>@Html.ActionLink("Works", "Works", "Teacher")</li>

                    }

                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div style="margin-top:50px;">
        @RenderBody()

        @*@if (!(isHome && isIndex))
        {
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - SortIt Research</p>
            </footer>
        }*@
    </div>

    @if (!(isHome && isIndex))
    {
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/jqueryval")
        @RenderSection("scripts", required: false)
    }
    @{if (this.User.IsInRole("Administrator"))
        {
            <script src="~/Scripts/admin.js"></script>
        }
        if (this.User.IsInRole("Teacher"))
        {
            <script src="~/Scripts/teacher.js"></script>
        }
        if (this.User.IsInRole("Student"))
        {
            <script src="~/Scripts/student.js"></script>
        }
    }

    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {
            var scroll_pos = 0;
            $(window).scroll(function () {
                scroll_pos = $(this).scrollTop();
                
                if (scroll_pos > 0) {
                    $(".navbar-custom").css('background-color', '#fff');
                } else {
                    $(".navbar-custom").css('background-color', 'none');
                }
            } );
            $('.skillContainer input:checkbox').change(function () {
                if ($(this).parent().find('input:checkbox:checked').length == $(this).parent().find('input:checkbox').length) {
                    $(this).parent().parent().find('.skillSubject').prop('checked', true);
                }
                else {
                    $(this).parent().parent().find('.skillSubject').prop('checked', false);
                }
            });

            $('.checkBoxContainer input:checkbox').change(function () {
                if (this.checked) {
                    $(this).parent().find('.skillContainer input:checkbox').prop('checked', true);
                }
                else {
                    $(this).parent().find('.skillContainer input:checkbox').prop('checked', false);
                }
            });
            $('.skillContainer input:checkbox').each(function () {
                if ($(this).parent().find('input:checkbox:checked').length == $(this).parent().find('input:checkbox').length) {
                    $(this).parent().parent().find('.skillSubject').prop('checked', true);

                }
            });
            $('#login-trigger').click(function () {
                $(this).next('#login-content').slideToggle();
                $(this).toggleClass('active');

                if ($(this).hasClass('active')) $(this).find('span').html('&#x25B2;')
                else $(this).find('span').html('&#x25BC;')
            });
            $("input:radio[name=isTeacher]").change(function () {
                if ($(this).val() == 'True')
                {
                    $('.dissertationLink').css('display','block')
                }
                else {
                    $('.dissertationLink').css('display', 'none')
                }
            });
          console.log(scroll_pos);
           
        });
        function skillsSave() {
            var searchIDs = $(".skillContainer input:checkbox:checked").map(function () {
                return $(this).val();
            }).get(); // <----
            var interestIds = $(".checkbox-areas input:checkbox:checked").map(function () {
                return $(this).val();
            }).get();
            $.ajax({
                type: "POST",
                url: "/Manage/SaveSkills",
                data: {

                    moduleIds: searchIDs,
                    interestsIds: interestIds
                },
                success: function () {
                    alert("Skills saved!");
                },
                error: function (data) {
                    alert("Error.");
                }
            });
        }
        function moduleFilter() {
            $('#skill-container').load("/Home/SkillPartial/?sId=" + $('#SubjectId').val()
                + '&mId=' + $('#ModuleId').val() + '&rId=59');
        }
        //$().ready(function () {
        //    $("#card").flip({
        //        trigger: 'manual'
        //    });
        //});


        $(".signup_link").click(function () {
            window.location.href = "/Account/Register"
            //$(".signin_form").css('opacity', '0');
            //$(".signup_form").css('opacity', '100');


            //$("#card").flip(true);

            //return false;
        });

        $("#unflip-btn").click(function () {

            window.location.href = "/Account/Login";
            //$(".signin_form").css('opacity', '100');
            //$(".signup_form").css('opacity', '0');

            //$("#card").flip(false);

            //return false;

        });

        function retryTest(id) {
            window.location.href = "/Student/Tests/" + id;
        }

        function sendRequest(tid) {
            $.ajax({
                type: "POST",
                url: "/Manage/SendRequest",
                data: { tId: tid, subId: $("#SubjectId").val() },
                success: function (data) {
                    alert("Դիմումը ուղարկված է")
                },
                failure: function () {
                    alert("Failed!");
                }
            });
        }

        function GetDropDownData() {
            $.ajax({
                type: "POST",
                url: "/Home/RefreshModule",
                data: { sId: $('#SubjectId').val() },
                success: function (data) {
                    $('.module').remove();
                    $.each(data, function () {
                        $("#ModuleId").append($('<option class="module"     />').val(this.Id).text(this.Name));
                    });
                },
                failure: function () {
                    alert("Failed!");
                }
            });
        }

        function OnSuccess(response) {
         
            alert(response);
        }
        function OnFailure(response) {
            alert("Error occured.");
        }
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jQuery-Flip/1.0.18/jquery.flip.js"></script>
</body>
</html>
